body{
margin:0;
font-family:Arial;
background:#f3f5f8
}

.layout{
display:flex;
min-height:100vh
}

aside{
width:240px;
background:#123524;
color:white;
padding:25px
}

aside button,select{
width:100%;
margin:8px 0;
padding:12px;
border-radius:8px;
border:0
}

.download{
background:#f5c542
}

main{
flex:1;
padding:30px
}

.panel{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 3px 12px #ddd
}

.form{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px
}

input,select{
padding:10px
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse
}

th,td{
padding:12px;
border-bottom:1px solid #ddd
}